<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc">
    <output-path>$PROJECT_DIR$/src/main/webapp</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes" />
      </element>
    </root>
  </artifact>
</component>