<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<description>관리자 이메일</description>
  	<param-name>adminEmail</param-name>
  	<param-value>admin@aaa.com</param-value>
  </context-param>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/notFound.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.ArithmeticException</exception-type>
  	<location>/error/devideZero.jsp</location>
  </error-page>
  
  <servlet>
  	<servlet-name>config</servlet-name>
  	<jsp-file>/basic/config.jsp</jsp-file>
  	<init-param>
  		<param-name>codeOne</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>config</servlet-name>
  	<url-pattern>/basic/config.jsp</url-pattern>
  </servlet-mapping>
  
</web-app>